@media (max-width: 480px) {
    .gallery{
        display: block;
    }
    .gallery-right {
        width: 100%;
    }
    .gallery-left{
        width: 140%;
    }
    .header-text {
        margin-top: 40px    ;
    }
    .tourism {
        font-size: 12px;
    }
    .header-text-q {
        font-size: 14px;
    }
    h1 {
        font-size: 29px;
    }
    .header-text-w {
        font-size: 10px;
    }
    h3 {
        font-size: 15px;
        margin-bottom: ;
    }
    .footer-descr{
        font-size: 8px;
    }
}